header{
    display: flex;
    align-items:center;
    background-color: rgb(28, 129, 97);
}

.head2{
    margin: 0px auto;
}
.head2 a{
    font-size: 28px;
    background-color: #1c8161;
    font-weight:bolder;
}

ul {
    display: flex ;
}
ul li{
     padding: 10px 1px; 
} 
li a{
    padding: 18px 9px;
    transition: all 0.7s;
}


 /* @media screen and (max-width:990px) { */
    /* header{ */
        /* flex-direction: column; */
        /* align-items: center; */
    /* } */
    /* .head2{ */
        /* order: -1; */
    /* } */
/* }  */




nav{
    background-color: brown;
    color: white;
}

nav ul{
    display: flex;
    justify-content:flex-end;
}
nav ul li a[title="Facebook"]:hover {
    color: rgb(0, 68, 255);
}nav ul li a[title="Youtube"]:hover {
    color: rgb(255, 0, 0);
}nav ul li a[title="twitter"]:hover {
    color: rgb(13, 189, 0);
}nav ul li a[title="Instragram"]:hover {
    color: rgb(97, 4, 114);
}


@media screen and (max-width:860px){
    header{
        flex-direction: column;

    }
    .head2{
        order: -1;
        font-size:43px;
    }

}